<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRI Protocol Builder</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'style2.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="left_nav">
            <div class="navhead">
                <img src="{%static 'logo.png'%}" id="logo">
                <h1>PROTOCOLS</h1>
            </div>
            <div class="main_nav">
                <h3><a href="/build">Build</a></h3>
                <h3 class="section">VIEW & EDIT</h3>
                {%for category in category%}
                    <h3>{{category.name}}</h3>
                        {%for protocol in category.protocols.all%}
                            <p><a href="/details/{{protocol.id}}" class="protocol_link">{{protocol.name}}</a></p>
                        {%endfor%}
                {%endfor%}
            </div>
        </div>
        <div class="main">
            <div class="header">
                <h3>Welcome, {{user.first_name}}</h3>
                <a href="/logout" class="logout_button">Log out</a>
            </div>
            <div class="content">
                <div class="title">
                    <h1>Build a new protocol</h1>
                </div>
                <div class="card">
                    <div class="flow">
                        <div class="tab current">Select Category</div>
                        <div class="tab">Create Protocol & Add Sequences</div>
                        <div class="tab">Review</div>
                    </div>
                    <form action="/select_category" method="post">
                        {%csrf_token%}
                        <h3>Select a category:</h3>
                        <select name="category" id="category">
                            {%for category in category%}
                            <option name ="category" value="{{category.id}}">{{category.name}}</option>
                            {%endfor%}
                        </select>
                        <button type="submit">Select Category</button>
                    </form>
                    <form action="/new_category" method="post">
                        {%csrf_token%}
                        <h3>Enter a new category:</h3>
                        <input type="text" name="new_category" placeholder="Enter a new category">
                        <button type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>